h1 {
    text-align: center;
    margin: 2px 20px 70px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 66px;
}

.myForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    border: 2px solid rgb(171, 169, 169);
    width: 500px;
    height: 70vh;
    border-radius: 15px;
}

.myInput {
    position: relative;
    padding: 14px;
    margin: 15px;
    height: 25px;
    transition: border-color 0.2s;
}

.myInput input {
    width: 300px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid silver;
}

.myInput label {
    position: absolute;
    left: 15px;
    top: 80%;
    transform: translateY(-18px);
    transition: all 0.25s ease-in-out;

}

.myInput input:focus {
    outline: 0;
    border-width: 2px;
    border-image: linear-gradient(to right, #ff0062, #00ffff);
    border-image-slice: 1;
}

.myInput input:focus+label {
    margin-top: -16px;
    transition: 0.25s;
    font-size: 0.9rem;
    color: #2afadf;
    font-weight: 800;
}

.myInput input:not([value=""]) {
    border-width: 2px;
}

.myInput input:not([value=""])+label {
    margin-top: -16px;
}

.btn {
    width: 120px;
    height: 40px;
    padding: 10px 15px;
    margin: 12px 15px;
    font-size: 15px;
    background-size: 200%;
    background-image: linear-gradient(to left, #12cbc4, #0652dd, #12cbc4);
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    transition: 0.6s;
}

.btn:hover {
    background-position: right;
}

.check:hover {
    cursor: pointer;
}

#my-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.3s ease-in-out;
}

.modal-content.show {
    opacity: 1;
    transform: translateY(0);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}